& .forms {
  @include center(column);
  min-height: 100vh;

  & .forms_bg {
    @include sm {
      width: 100%;
    }
  }
}

& .form_header {
  @include center(column);
  height: 85px;

  & p {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 29px;
    color: $primary;
  }
}

& .login {
  margin-top: 80px;
  width: 529px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding-bottom: 30px;
  @include sm {
    width: 100%;
    background: none;
    margin-top: 50px;
  }

  & .login_fields {
    width: 100%;
    @include center(column);
    gap: 25px;
  }
  & .login_button {
    @include center(column);
    margin-top: 20px;

    & button {
      width: 86.5%;
      height: 59px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 5px;
      color: $light;
      background-color: $primary;
      outline: none;
      border: none;
      transition: 0.3s ease-in-out;
      &:hover {
        transition: 0.3s ease-in-out;
        background-color: $secondary;
        // color: $secondary;
      }
      @include sm {
        font-size: 1.8rem;
        width: 92.5%;
      }
    }
  }
  & .login_join {
    margin-top: 20px;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    color: $dark;
    @include sm {
      color: $light;
      font-size: 1.5rem;
    }
    & a {
      color: $primary;
      margin-left: 5px;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        color: $secondary;
      }
    }
  }
}

& .register {
  margin-top: 80px;
  width: 529px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding-bottom: 30px;
  @include sm {
    width: 100%;
    background: none;
    margin-top: 50px;
  }

  & .register_fields {
    width: 100%;
    @include center(column);
    gap: 25px;
  }
  & .register_button {
    @include center(column);
    margin-top: 20px;

    & button {
      width: 86.5%;
      height: 59px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 5px;
      color: $light;
      background-color: $primary;
      outline: none;
      border: none;
      transition: 0.3s ease-in-out;
      &:hover {
        transition: 0.3s ease-in-out;
        background-color: $secondary;
        // color: $secondary;
      }
      @include sm {
        font-size: 1.8rem;
        width: 92.5%;
      }
    }
  }
  & .register_login {
    margin-top: 20px;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    color: $dark;
    @include sm {
      color: $light;
      font-size: 1.5rem;
    }
    & a {
      color: $primary;
      margin-left: 5px;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        color: $secondary;
      }
    }
  }
}

& .create {
  margin-top: -40px;
  width: 529px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding-bottom: 30px;
  @include sm {
    width: 100%;
    background: none;
    margin-top: 50px;
  }

  & .create_fields {
    width: 100%;
    @include center(column);
    gap: 25px;
  }
  & .create_button {
    @include center(column);
    margin-top: 20px;

    & button {
      width: 86.5%;
      height: 59px;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 5px;
      color: $light;
      background-color: $primary;
      outline: none;
      border: none;
      transition: 0.3s ease-in-out;
      &:hover {
        transition: 0.3s ease-in-out;
        background-color: $secondary;
        // color: $secondary;
      }
      @include sm {
        font-size: 1.8rem;
        width: 92.5%;
      }
    }
  }
}
